@model BugBuddy.Models.Bug

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        @if (!string.IsNullOrWhiteSpace(Model.Resolution))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Resolution)
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Resolution)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.CreatedDate.ToString("M/d/yyyy h:mm tt")
        </dd>
    </dl>
</div>

<div>
    <!-- Right side with bug notes and add note feature -->
    <h4>Notes</h4>
    <ul>
        @foreach (var note in Model.Notes.OrderByDescending(n => n.Date))
        {
            <p>@note.Text - Note added: @note.Date.ToString("M/d/yyyy h:mm tt")</p>
        }
    </ul>
</div>

<div>
    <h4>Add Note</h4>
    <form asp-action="AddNote" method="post">
        <input type="hidden" name="bugId" value="@Model.Id" />
        <input type="hidden" name="returnUrl" value="Details" />
        <div class="form-group">
            <textarea name="noteText" class="form-control" rows="3" placeholder="Type your note here" required></textarea>
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
